.site-footer {
  background-color: var(--color-black);
  color: var(--color-text);
  border-top: 1px solid var(--color-white);
  padding-block: var(--space-sm);
  text-align: center;
  opacity: 0.75;
  font-family: var(--font-family-base);
  font-size: 0.9rem;
  line-height: 1.8;

  @media (min-width: var(--breakpoint-md)) {
    font-size: 1.1rem;
  }

  &::selection {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
