.tooltip-wrapper {
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.tooltip-text {
  position: absolute;
  /* adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-family: var(--font-family-base);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
}

/* Show on hover or focus */
.tooltip-wrapper:hover .tooltip-text,
.tooltip-wrapper:focus-within .tooltip-text {
  opacity: 1;
}